<div class="card-footer">
  <div class="mb-3 mx-auto w-75">
    <form class="input-group input-group-sm my-2 mx-auto w-50">
      <input type="text" class="form-control" placeholder="a-z" aria-label="" aria-describedby="basic-addon1" name="letter">
      <div class="input-group-append">
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
      <div class="input-group-append">
        <input type="submit" name="reset" value="Reset" class="btn btn-danger ">
      </div>
      <div class="input-group-append">
        <input type="submit" name="cheat" value="Cheat" class="btn btn-warning">
      </div>
    </form>
  </div>
  <p>Tries: <%= @@tries %></p>
  <p>Word: <%= @@result %></p>
  <p><%= @message %></p>
</div>
