<div class="card-footer">
  <div class="mb-3 mx-auto w-75">
    <form class=" input-group input-group-sm pb-1">
      <input type="text" class="form-control" placeholder="a-z" aria-label="" aria-describedby="basic-addon1" name="letter">
      <div class="input-group-append">
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
    </form>
  </div>
</div>
